# Visual Studio Code
.vscode

# Build results
[Bb]in/
[Oo]bj/

# BenchmarkDotNet
**/BenchmarkDotNet.Artifacts/*

# DocFX
/api


/.vs

*.psess
*.suo
*.swp
*.user
*.userprefs
*.vsp
*.coverage
*.exe
*.nupkg

Backup/
bin/
dist/
doc/
obj/

_Resharper.*/
_Resharper*/
*.ide/
packages/
.vs/
.store/

*.nuget.props
*.nuget.targets
*.project.lock.json
project.lock.json
